<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- setting -->
	<settings>
		<setting name="cacheEnabled" value="true"/>
	</settings>
	<!-- 别名 -->
	<typeAliases>
		<package name="com.dfs.model"/>
	</typeAliases>
	<!-- Mapper位置 -->
	<mappers>
		<package name="com.dfs.mapper"/>
	</mappers>
</configuration>

	